@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600&display=swap');


$main-background: rgb(63, 63, 63);
$main-red: rgb(187, 0, 0);
$main-text-color:rgb(228, 228, 228);
$main-font:'Rubik', sans-serif;