@import '../../style/shared.scss';

.home-page{
    display: flex; justify-content: space-evenly;
    width: 100%; max-width: 1500px;
    margin: 250px auto;

    @media(max-width: 1000px){ flex-flow: column; align-items: center; margin-top: 75px;}

    a{
        display: flex; align-items: center; justify-content: center; white-space: nowrap;
        width: 300px; height: 200px;
        text-decoration: none; font-size: 2.5rem;
        color: $main-text-color; background-color: $main-red;
        border-radius: 5px;

        @media(max-width: 1000px){ margin-bottom: 50px;}

        &:hover{
            cursor: pointer;
            background-color: $main-text-color; color: $main-red;
            outline: 2px solid $main-red;
        }
    }
}